/* Error: Expected newline.
 *   ,
 * 8 | %font-regular {
 *   |               ^
 *   '
 *   public\styles\shaders-on-scroll.sass 8:15  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected newline.\a   \2577 \a 8 \2502  %font-regular {\d\a   \2502                ^\a   \2575 \a   public\\styles\\shaders-on-scroll.sass 8:15  root stylesheet";
}
